<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success File Upload</title>
</head>
<body>
    <h1>{{.NamaFile}}</h1>
    <h2>{{.BesarFile}}</h2>
    <a href="{{.ObjekFile}}">{{.ObjekFile}}</a>
</body>
</html>