<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Contoh Upload File</title>
</head>
<body>
    <h1>Upload File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
<label>Name : <input type="text" name="namafileyangakandiupload"></label><br>
<label>File : <input type="file" name="fileyangakandiupload"></label><br>
<input type="submit" value="Upload Skuy">
    </form>
</body>
</html>