<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Contoh Upload File</title>
</head>
<body>
    <h1>Upload File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
<label>Nama: <input type="text" value="Nama"></label><br>
<label>File: <input type="file" value="File"></label><br>
<input type="button" value="Upload">
    </form>
</body>
</html>