<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Data1}}</title>

</head>
<body>
{{/* saat equal pada vaue awal dan akhir */}}
<h3>Data 1 = {{.Data1}}</h3>
<h3>Data 2 = {{.Data2}}</h3>
<h3>Data 3 = {{.Data3}}</h3>
<h3>Data 4 = {{.Data4}}</h3>
<h3>Data 5 = {{.Data5}}</h3>
<p>-------------------------------------------------</p>
{{if eq .Data1 .Data5}} 
    <h1>Data1 {{.Data1}} sama dengan Data5 {{.Data5}}</h1>
{{else if lt .Data3 .Data2}}
    <h1>Data3 {{.Data3}} kurang dari {{.Data2}}</h1>
{{else if gt .Data3 .Data4}}
    <h1>Data3 {{.Data3}} lebih dari {{.Data4}}</h1>
{{else if le .Data3 .Data3}}
    <h1>Data3 {{.Data3}} lebih dari sama dengan {{.Data3}}</h1>
{{else if ge .Data4 .Data4}}
    <h1>Data4 {{.Data4}} lebih dari sama dengan {{.Data4}}</h1>
{{end}}
</body>
</html>