<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Data1}}</title>

</head>
<body>
{{if .Data2}}
    <h1>Hello {{.Data3.Data3_1}}</h1>
{{else}}
    <h1>Hello {{.Data3.Data3_2}}</h1>
{{end}}
</body>
</html>